<div id = 'beer-img'>
  <img src="images/beer.png" >
</div>

<div id = 'buttons'>
 <button
      type='button'

    >
      <a href='beers' >Check the Beers!</a></button>


     <button
      type='button'

    >
      <a href='random-beer' >Check a random beer!</a></button>
</div>